@tailwind base;
@tailwind components;
@tailwind utilities;

.active {
    background-color: #797979;
    color: white;
    outline: 1px solid #2E4960;
    font-size: 11px;
}

.link:hover {
    color: white;
    background-color: #28333c;
  }
